#location {
  background-color: #f5f5f5;
  text-align: center;

  #address {
    color: #616161;
    font-size: 40px;
    padding-top: 15px;
  }

  #weatherInfo {
    #temperature {
      font-size: 8em;
    }
  }

  #date {
    font-size: 1.5em;
  }

  #data {
    margin: auto 0;
    font-size: 1.5em;
  }

  #search input {
    text-align: center;
    color: #616161;
    font-style: italic;
    opacity: 0.65;
  }

  #pastWeek p {
    background: #616161;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 320px) {
    #address {
      font-size: 20px;
    }

    #weatherInfo {
      #temperature {
        font-size: 4em;
      }
    }

    #date {
      font-size: 1em;
    }

    #icon img {
      width: 60%;
    }

    #data {
      font-size: 1em;
    }
  }
}
