.day {
  text-align: center;
  margin-bottom: 35px;

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .icon {
    img {
      width: 100px;
    }
  }

  .temperature {
    .lowTemp {
      color: #2196f3;
    }
    .highTemp {
      color: #f44336;
    }
  }

  .summary {
    font-size: 12px;
    padding-top: 15px;
    color: #616161;
  }
}
